@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@300&family=Spartan:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  color: #fff;
  font-family: "Antonio", sans-serif; }

h1 {
  font-size: 80px;
  line-height: 103px;
  font-weight: 400; }

h2 {
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -1.5px;
  text-transform: uppercase; }
  @media (max-width: 1300px) {
    h2 {
      font-size: 24px; } }

h3 {
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.5px; }

h4 {
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #838391; }
  @media (max-width: 1300px) {
    h4 {
      font-size: 8px; } }

a {
  text-decoration: none;
  color: #838391;
  font-weight: 700; }

.text {
  font-size: 14px;
  line-height: 25px;
  font-family: "Spartan", sans-serif;
  display: block;
  color: #fff; }

.text.source {
  color: #838391 !important; }

.btn {
  padding: 10px 20px 10px 20px;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  display: flex;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s ease; }
  .btn-primary {
    background: #070724;
    border: 1px solid #838391;
    color: #fff; }
    .btn-primary:hover {
      background: #38384f;
      border: 1px solid transparent; }
  .btn span {
    color: grey;
    margin-right: 15px; }

nav.mobile-nav {
  display: none; }
  @media (max-width: 768px) {
    nav.mobile-nav {
      border-top: 1px solid #38384f;
      border-bottom: 1px solid #38384f;
      height: 64px;
      display: flex;
      padding: 0 30px; }
      nav.mobile-nav ul {
        display: flex;
        justify-content: space-between;
        width: 100%; }
        nav.mobile-nav ul li {
          display: flex;
          align-items: center; }
          nav.mobile-nav ul li h3 {
            font-size: 11px; } }
        @media (max-width: 768px) and (max-width: 400px) {
          nav.mobile-nav ul li h3 {
            font-size: 8px; } }
  @media (max-width: 768px) {
          nav.mobile-nav ul li a {
            text-transform: uppercase;
            height: 100%; }
            nav.mobile-nav ul li a:hover {
              color: #fff; } }

body {
  background-color: #070724;
  background-image: url("../assets/images/background-stars.svg");
  background-size: contain; }

header {
  background-color: #070724;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 30px; }
  header h2 {
    text-transform: uppercase;
    font-family: "Antonio", sans-serif; }
  header nav {
    display: flex;
    width: 100%;
    justify-content: space-between; }
    header nav .hamburger {
      display: none; }
      @media (max-width: 768px) {
        header nav .hamburger {
          display: inline; } }
    @media (max-width: 1300px) {
      header nav {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 30px; } }
    @media (max-width: 768px) {
      header nav {
        flex-direction: row;
        justify-content: space-between; } }
    header nav ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 1.5rem; }
      @media (max-width: 768px) {
        header nav ul {
          display: none; } }
      header nav ul a {
        text-transform: uppercase; }
        @media (max-width: 1300px) {
          header nav ul a {
            font-size: 11px; } }

main {
  width: 100%; }
  main .body-container {
    max-width: 1110px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column; }
    @media (max-width: 1300px) {
      main .body-container {
        max-width: 768px; } }
  main .container {
    display: flex;
    padding-top: 150px;
    width: 100%; }
    @media (max-width: 1300px) {
      main .container {
        flex-direction: column; } }
    @media (max-width: 768px) {
      main .container {
        padding-top: 75px; } }
    main .container .planet-image {
      display: flex;
      align-items: center;
      justify-content: center; }
      @media (max-width: 400px) {
        main .container .planet-image img {
          width: 111px; } }
    main .container .planet-image,
    main .container .planet-info {
      flex: 1; }
    main .container .planet-info {
      display: flex;
      justify-content: flex-end; }
      @media (max-width: 1300px) {
        main .container .planet-info {
          justify-content: center;
          margin-top: 130px; } }
      @media (max-width: 400px) {
        main .container .planet-info {
          margin-top: 25px; } }
      @media (max-width: 1300px) {
        main .container .planet-info .flex-body {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%; } }
      @media (max-width: 768px) {
        main .container .planet-info .flex-body {
          justify-content: center;
          text-align: center;
          padding: 20px; } }
      @media (max-width: 400px) {
        main .container .planet-info .flex-body {
          text-align: center; } }
      main .container .planet-info h1 {
        font-size: 80px;
        font-weight: 700;
        font-family: "Antonio", sans-serif;
        margin: 0 0 25px; }
        @media (max-width: 400px) {
          main .container .planet-info h1 {
            font-size: 40px;
            line-height: 40px; } }
      main .container .planet-info .text {
        max-width: 350px;
        width: 100%;
        margin: 20px 0;
        color: #fff; }
        @media (max-width: 768px) {
          main .container .planet-info .text {
            max-width: 100%; } }
        @media (max-width: 400px) {
          main .container .planet-info .text {
            font-size: 11px; } }
      @media (max-width: 1300px) {
        main .container .planet-info .text.source {
          margin-bottom: 0; } }
      main .container .planet-info .buttons {
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-width: 350px;
        width: 100%;
        margin: 25px 0; }
        @media (max-width: 768px) {
          main .container .planet-info .buttons {
            display: none; } }
  main .info {
    margin: 85px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 30px 0 50px;
    width: 100%; }
    @media (max-width: 1300px) {
      main .info {
        margin-top: 10px; } }
    @media (max-width: 768px) {
      main .info {
        flex-direction: column;
        gap: 20px; } }
    main .info .info-item {
      flex: 1 1;
      max-width: 235px;
      padding: 20px;
      width: 100%;
      border: 1px solid #838391; }
      @media (max-width: 768px) {
        main .info .info-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          max-width: 100%;
          width: 90%; }
          main .info .info-item h2 {
            font-size: 20px;
            font-weight: 400; } }
  @media (max-width: 768px) and (max-width: 400px) {
    main .info .info-item .text {
      font-size: 8px; } }
