* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: $white;
  font-family: $ff-antonio;
}

h1 {
  font-size: 80px;
  line-height: 103px;
  font-weight: 400;
}

h2 {
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -1.5px;
  text-transform: uppercase;
  @include tablet {
    font-size: 24px;
  }
}

h3 {
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.5px;
}

h4 {
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $grey;

  @include tablet {
    font-size: 8px;
  }
}

a {
  text-decoration: none;
  color: $grey;
  font-weight: 700;
}

.text {
  font-size: 14px;
  line-height: 25px;
  font-family: $ff-spartan;
  display: block;
  color: $white;
}

.text.source {
  color: $grey !important;
}

.btn {
  padding: 10px 20px 10px 20px;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  display: flex;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s ease;

  &-primary {
    background: $dark-blue;
    border: 1px solid $grey;
    color: $white;

    &:hover {
      background: $dark-grey;
      border: 1px solid transparent;
    }
  }

  span {
    color: grey;
    margin-right: 15px;
  }
}
