$white: #fff;
$dark-blue: #070724;
$blue: #2d68f0;
$light-blue: #419ebb;
$dark-grey: #38384f;
$grey: #838391;
$yellow: #eda249;
$purple: #6f2ed6;
$orange: #d14c32;
$sienna: #cd5120;
$red: #d83a34;
$green: #1ec2a4;

$ff-antonio: "Antonio", sans-serif;
$ff-spartan: "Spartan", sans-serif;

@mixin tablet {
  @media (max-width: 1300px) {
    @content;
  }
}

@mixin phone {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin x-small {
  @media (max-width: 400px) {
    @content;
  }
}
